@page {
    size: auto; /* auto is the current printer page size */
    margin: 0mm; /* this affects the margin in the printer settings */
}

body {
    margin: 0mm;
    
    font-size: 14pt;
    font-family: Verdana, Arial, sans-serif;
}
.sheet {
    width: 1020px !important;
    
    padding: 10mm;  
    padding-left: 20mm;
}
.print {
    
    page-break-after: always;
}